<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <style>
        body{text-align: center}
    </style>
    <link rel="stylesheet" href="../static/css/weui.min.css">
    <link rel="stylesheet" href="../static/css/jquery-weui.min.css">
</head>
<body>
<div class="pagemain">
    <div class="" style="text-align: center; vertical-align: middle; font-size: 30px;"> 哈尔滨信息工程学院 </div>
    <div class="" style="text-align: center; vertical-align: middle; font-size: 25px;"> 艺体中心 </div>
    <form class="form-horizontal  ui-sortable formtable_64082" data-listhref="" data-ride="form" role="form" id="form64082" name="table_64082" data-url="/data/data.html" action="/data/save.html" enctype="multipart/form-data" method="post" data-bv-group=".weui-cell" data-bv-container="#errorsform64082" data-bv-feedbackicons-valid="weui-icon-success" data-bv-feedbackicons-invalid="weui-icon-warn" data-bv-feedbackicons-validating="weui-icon-warn">
        <div class="row-form clearfix ">
            <div class="">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label  " for="763109">管理员名称</label></div>
                    <div class="weui-cell__bd"> <input type="text" placeholder="请输入管理员名称" value="" name="adminName" id="763109" class="weui-input  weui-noborder"> </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label  " for="497163">请输入密码</label></div>
                    <div class="weui-cell__bd"> <input type="password" placeholder="请输入密码" value="" name="adminPassword" id="497163" class="weui-input  weui-noborder"> </div>
                </div>
                <div class="weui-form">
                    <div class="weui-form-item"> <button type="submit" class="weui-btn   weui-btn_primary  ">登录</button> </div>
                </div>
            </div>
        </div> <input type="hidden" class="hide" name="dashboardId" value="34686"> <input type="hidden" class="hide" name="formId" value="64082"> <input type="hidden" class="hide" name="tableName" value="table_64082"> <input type="hidden" class="hide" name="id" value="">
        <div id="errorsform64082" class="hide"></div>
    </form>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery-weui.min.js"></script>
</body>
</html>