<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单</title>
    <link rel="stylesheet" href="../static/css/weui.min.css">
    <link rel="stylesheet" href="../static/css/jquery-weui.min.css">
</head>
<body>
<div class="pagebg"></div>
<div class="pagemain">
    <div class="weui-grids">
        <a page="empty" data-index="680940" href="empty" class="weui-grid weui-grid-33" id="datatemplate68094">
            <div style="" class="weui-grid-inner   ">
                <div class="weui-grid-inner-content">
                    <div class="weui-grid__icon" style=""> <img alt="预约" src="../static/img/icon5.png" mode="scaleToFill"> </div>
                    <p class="weui-grid__label " style="">预约</p>
                </div>
            </div>
        </a>
        <a page="empty" data-index="680941" href="empty" class="weui-grid weui-grid-33">
            <div style="" class="weui-grid-inner   ">
                <div class="weui-grid-inner-content">
                    <div class="weui-grid__icon" style=""> <img alt="菜单二" src="../static/img/icon6.png" mode="scaleToFill"> </div>
                    <p class="weui-grid__label " style="">菜单二</p>
                </div>
            </div>
        </a>
    </div>
    <div class="weui-tabbar .tabbar447833" id="tabbar447833" style="width: 100%;">
        <a href="empty" page="empty" class="weui-tabbar__item ajax-page  weui-bar__item_on "> <img src="/static/img/icon1.png" img="/static/img/icon1c.png" selectimg="/static/img/icon1.png" alt="" class="weui-tabbar__icon" style="">
            <p class="weui-tabbar__label weui-tabbar__label447833">菜单一</p>
        </a>
        <a href="empty" page="empty" class="weui-tabbar__item ajax-page "> <img src="/static/img/icon2c.png" img="/static/img/icon2c.png" selectimg="/static/img/icon2.png" alt="" class="weui-tabbar__icon" style="">
            <p class="weui-tabbar__label weui-tabbar__label447833">菜单二</p>
        </a>
        <style type="text/css">
            .tabbar447833 {}

            .weui-tabbar__label447833 {
                color: #999999 !important;
            "

            }

            .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label447833 {
                color: #09bb07 !important;
            }
        </style>
    </div>
    <form class="form-horizontal  ui-sortable formtable_676158" data-listhref="" data-ride="form" role="form" id="form676158" name="table_676158" data-url="/data/data.html" action="/data/save.html" enctype="multipart/form-data" method="post" data-bv-group=".weui-cell" data-bv-container="#errorsform676158" data-bv-feedbackicons-valid="weui-icon-success" data-bv-feedbackicons-invalid="weui-icon-warn" data-bv-feedbackicons-validating="weui-icon-warn">
        <div class="row-form clearfix ">
            <div class="">
                <div class="weui-flex" style="">
                    <div id="flex_item6212840" class="weui-flex_item weui-flex_item6212840" style="flex-basis:auto;padding: 20px !important;width:100%;text-align: center;">
                        <div class=""> 乒乓球馆 </div>
                    </div>
                    <div id="flex_item6212841" class="weui-flex_item weui-flex_item6212841" style="flex-basis:auto;padding: 0px !important;width:100%;text-align: center;">
                        <div class=""> 中午11:00-11:50 &nbsp;剩余5<br>晚 16:00 - 18:00 &nbsp;剩余4<br>晚 18:00 - &nbsp;20:00 剩余8 </div>
                    </div>
                </div><br>
                <div class="weui-flex" style="">
                    <div id="flex_item6677760" class="weui-flex_item weui-flex_item6677760" style="flex-basis:auto;padding: 20px !important;width:100%;text-align: center;">
                        <div class=""> 篮球馆 </div>
                    </div>
                    <div id="flex_item6677761" class="weui-flex_item weui-flex_item6677761" style="flex-basis:auto;padding: 0px !important;width:100%;text-align: center;">
                        <div class=""> 中午11:00-11:50 &nbsp;剩余5<br>晚 16:00 - 18:00 &nbsp;剩余4<br>晚 18:00 - &nbsp;20:00 剩余8 </div>
                    </div>
                </div><br>
                <div class="weui-flex" style="">
                    <div id="flex_item8217060" class="weui-flex_item weui-flex_item8217060" style="flex-basis:auto;padding: 20px !important;width:100%;text-align: center;">
                        <div class=""> 羽毛球馆 </div>
                    </div>
                    <div id="flex_item8217061" class="weui-flex_item weui-flex_item8217061" style="flex-basis:auto;padding: 0px !important;width:100%;text-align: center;">
                        <div class=""> 中午11:00-11:50 &nbsp;剩余5<br>晚 16:00 - 18:00 &nbsp;剩余4<br>晚 18:00 - &nbsp;20:00 剩余8 </div>
                    </div><br>
                </div>
            </div>
        </div> <input type="hidden" class="hide" name="dashboardId" value="34686"> <input type="hidden" class="hide" name="formId" value="676158"> <input type="hidden" class="hide" name="tableName" value="table_676158"> <input type="hidden" class="hide" name="id" value="">
        <div id="errorsform676158" class="hide"></div>
    </form>
</div>
</body>
</html>