<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="pagebg"></div>
<div class="pagemain">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" for="8556">选择时间</label></div>
        <div class="weui-cell__bd"> <input reg="请输入正则" data-ride="datetime" start="1900-01-01" end="2050-01-01" value="" type="2" placeholder="请选择时间" name="name_8556" id="8556" class="weui-input "> </div>
    </div>
</div>
</body>
</html>